<!DOCTYPE html>
@using netcore2.Models 
@model Message

<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/firstpage.css"/>
    </head>
    <body>
        <h1>@Model.contents</h1>
    </body>
</html>