<!DOCTYPE html>
<link rel="stylesheet" href="~/css/posted.css">
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        </head>
    <body>
       <h1>posted Info</h1>
       <p>Name: @ViewBag.name</p>
       <p>Email: @ViewBag.email</p>
       <p>Message: @ViewBag.message</p>
    </body>
</html>