<body>
    <div style="text-align:center;width:500px;height:200px; border:1px solid black">
        <h3>Random Passcode (Passcode #@ViewBag.Trial)</h3>
        <div style="text-align:center; border:1px solid black">
            <h1>@ViewBag.RandNums</h1>
        </div>
        <button><a href="random">Click</a></button>
    </div>
</body>