<body style="text-align:center;">
    <h1>Welcome to Quoting Dojo</h1>
    <form action="quotes" method="post">
        <label for="name">Name: <input type="text" name="Name"></label><br>
        <label for="quote">Quote: <input type="text" name="Quote"></label><br>
        <input type="submit" value="SUBMIT">
        <button><a href="">SKIP TO QUOTES!</a></button>
    </form>
</body>